* {
  box-sizing: border-box;
}

html {
  --text-color: rgb(241, 241, 75);
  --fun-font: "Luckiest Guy", cursive;
  --emphasis-font: "Red Hat Display", sans-serif;
  --reading-font: sans-serif;
  --max-width: 1280px;
  --secondary-bg: #f8f89d;
  --text-reverse-color: #dedede;
  --bold-text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
  0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
  0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
  -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--emphasis-font);
}

p {
  font-family: sans-serif;
}

/* Safari button fix*/
input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 66vh;
}
.jumbotron .hero-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 75%;
  opacity: 0.3;
}
.jumbotron .site-header {
  position: absolute;
  max-width: var(--max-width);
  width: 100%;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.jumbotron .site-header .brand {
  font-size: 2em;
  text-shadow: 0 0 15px black;
  margin: 0 0 15px 0;
}
.jumbotron .site-header .brand .wordmark {
  position: absolute;
  left: -999em;
}
.jumbotron .site-header .brand a {
  background-image: url("crossfit-charlton-wordmark.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 300px;
  color: var(--text-color);
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.jumbotron .site-header .brand a:hover {
  transform: scale(1.1);
}
.jumbotron .site-header .crossfit-journal-link a {
  display: inline-block;
  transition: transform 0.3s ease;
}
.jumbotron .site-header .crossfit-journal-link a:hover {
  transform: scale(1.1);
}
.jumbotron .hero-body {
  color: yellow;
  position: absolute;
  max-width: var(--max-width);
  width: 100%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 30px;
}
.jumbotron .hero-body h2.teaser {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  font-family: var(--fun-font);
  font-weight: normal;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  position: relative;
  /* Parent z-index context */
}
.jumbotron .hero-body h2.teaser .first-letter {
  font-size: 1.2em;
  position: relative;
  /* child z-index context */
  z-index: 2;
  margin-right: 2px;
}
.jumbotron .hero-body h2.teaser .year {
  font-size: 1.1em;
}
@media screen and (min-width: 480px) {
  .jumbotron .hero-body h2.teaser {
    font-size: 5em;
  }
}
.jumbotron .hero-body a {
  color: var(--text-color);
  font-size: 2em;
  font-family: var(--emphasis-font);
  text-shadow: 1px 1px 2px black;
  display: inline-block;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.jumbotron .hero-body a:hover {
  transform: scale(1.1);
}

.bouncy-dots .dot {
  display: inline-block;
  margin: 0 3px;
  animation: bounce 0.3s infinite alternate-reverse;
}
.bouncy-dots .dot:nth-of-type(2) {
  animation-delay: 0.5s;
}
.bouncy-dots .dot:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-6px);
  }
}
.team {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 30px;
}
.team h2 {
  font-size: 2em;
  margin: 0;
}
.team .team-flex {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team .team-flex .team-card {
  display: flex;
  flex-direction: column-reverse;
  font-family: var(--emphasis-font);
}
.team .team-flex .team-card h3 {
  font-size: 1.25em;
  margin: 0;
}
.team .team-flex .team-card p {
  margin: 0;
}
.team .team-flex .team-card img {
  margin: 25px 15px 15px 15px;
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 18px 4px #00000042;
}

@media screen and (min-width: 480px) {
  .subscribe {
    padding: 50px 0;
    max-width: 400px;
    margin: auto;
  }
}
.subscribe .subscribe-wrapper {
  position: relative;
  background-color: #333;
  margin: auto;
  padding: 30px;
}
.subscribe .subscribe-wrapper .confirmation-modal {
  display: none;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #333;
}
.subscribe .subscribe-wrapper .confirmation-modal.sent {
  display: flex;
  align-items: center;
}
.subscribe .subscribe-wrapper .confirmation-modal.sent.visible {
  opacity: 1;
}
.subscribe .subscribe-wrapper .confirmation-modal .success-message {
  font-size: 2em;
  text-align: center;
  margin: 0;
  color: var(--text-color);
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal {
  position: absolute;
  right: 40px;
  top: 40px;
  background: transparent;
  border-radius: 50%;
  border-style: solid;
  padding: 5px;
  display: block;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-reverse-color);
  font-size: 1.1em;
  transition: all 0.3s ease;
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal:hover {
  border-color: white;
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal:hover::before {
  filter: invert(1);
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal::before {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  display: block;
  background-image: url("close.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(0.8);
  width: 75%;
  height: 75%;
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal .close-text {
  position: absolute;
  left: -999em;
}
.subscribe .subscribe-wrapper .confirmation-modal .close-modal:focus-visible, .subscribe .subscribe-wrapper .confirmation-modal .close-modal:focus {
  outline: solid var(--text-color) 2px;
}
.subscribe .subscribe-wrapper form {
  display: flex;
  flex-direction: column;
}
.subscribe .subscribe-wrapper .ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
.subscribe .subscribe-wrapper h4 {
  font-family: var(--emphasis-font) !important;
  color: var(--text-color);
  margin: 0;
  font-size: 2em;
  text-align: center;
}
.subscribe .subscribe-wrapper h4 span {
  display: inline-block;
  transform: scaleX(-1);
}
.subscribe .subscribe-wrapper p {
  color: var(--text-reverse-color);
}
.subscribe .subscribe-wrapper input {
  padding: 10px;
  border-radius: 0;
  margin: 10px 0;
  border: none;
}
.subscribe .subscribe-wrapper .submit-button {
  background: transparent;
  border: white solid 5px;
  font-size: 1.1em;
  font-family: var(--emphasis-font);
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  position: relative;
}
.subscribe .subscribe-wrapper .submit-button:hover {
  background-color: var(--text-color);
  color: #333;
  border-color: var(--text-color);
}

.site-footer {
  padding: 50px 30px;
  background-color: #444546;
  color: var(--text-reverse-color);
  font-family: var(--emphasis-font);
}
.site-footer a {
  color: var(--text-reverse-color);
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer .footer-content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-footer .footer-content .copyright {
  color: var(--text-reverse-color);
}
.site-footer .footer-content .nav-wrapper {
  display: flex;
  align-items: center;
}
.site-footer .footer-content nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.site-footer .footer-content a:hover {
  color: white;
}
.site-footer .footer-content .nav-secondary li {
  margin: 0 20px;
}
.site-footer .footer-content .nav-social li {
  margin: 0 20px;
}
.site-footer .footer-content .nav-social a::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 28px;
  filter: invert(0.8);
}
.site-footer .footer-content .nav-social a.instagram::before {
  background: transparent url("instagram.svg") 0 0 no-repeat;
}
.site-footer .footer-content .nav-social a.facebook::before {
  background: transparent url("facebook.svg") 0 0 no-repeat;
}
.site-footer .footer-content .nav-social a:hover::before {
  filter: invert(1);
}
.site-footer .footer-content .nav-social .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/*# sourceMappingURL=style.css.map */
