* {
  box-sizing: border-box;
}

html {
  --text-color: #f1f14b;
  --fun-font: "Luckiest Guy", cursive;
  --emphasis-font: "Red Hat Display", sans-serif;
  --reading-font: sans-serif;
  --max-width: 1280px;
  --secondary-bg: #f8f89d;
  --text-reverse-color: #dedede;
  --bold-text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
  0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
  0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
  -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--emphasis-font);
}

p {
  font-family: sans-serif;
}

/* Safari button fix*/
input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
}
.jumbotron .hero-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 75%;
  opacity: 0.3;
}
.jumbotron .site-header {
  position: absolute;
  max-width: var(--max-width);
  width: 100%;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.jumbotron .site-header .brand {
  font-size: 2em;
  text-shadow: 0 0 15px black;
  margin: 0 0 15px 0;
}
.jumbotron .site-header .brand .wordmark {
  position: absolute;
  left: -999em;
}
.jumbotron .site-header .brand a {
  background-image: url("crossfit-charlton-wordmark.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 300px;
  color: var(--text-color);
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.jumbotron .site-header .brand a:hover {
  transform: scale(1.1);
}
.jumbotron .site-header .crossfit-journal-link a {
  display: inline-block;
  transition: transform 0.3s ease;
}
.jumbotron .site-header .crossfit-journal-link a:hover {
  transform: scale(1.1);
}
.jumbotron .hero-body {
  color: yellow;
  position: absolute;
  max-width: var(--max-width);
  width: 100%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 30px;
}
.jumbotron .hero-body h2.teaser {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  font-family: var(--fun-font);
  font-weight: normal;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  position: relative;
  /* Parent z-index context */
}
.jumbotron .hero-body h2.teaser .first-letter {
  font-size: 1.2em;
  position: relative;
  /* child z-index context */
  z-index: 2;
  margin-right: 2px;
}
.jumbotron .hero-body h2.teaser .year {
  font-size: 1.1em;
}
@media screen and (min-width: 480px) {
  .jumbotron .hero-body h2.teaser {
    font-size: 5em;
  }
}
.jumbotron .hero-body a {
  color: var(--text-color);
  font-size: 2em;
  font-family: var(--emphasis-font);
  text-shadow: 1px 1px 2px black;
  display: inline-block;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.jumbotron .hero-body a:hover {
  transform: scale(1.1);
}
.jumbotron h3 {
  font-family: var(--emphasis-font) !important;
  color: var(--text-color);
  margin: 0;
  font-size: 2em;
  text-align: center;
}
.jumbotron h3 span {
  display: inline-block;
  transform: scaleX(-1);
  text-shadow: 0 0 8px var(--text-color);
}

.bouncy-dots .dot {
  display: inline-block;
  margin: 0 3px;
  animation: bounce 0.3s infinite alternate-reverse;
}
.bouncy-dots .dot:nth-of-type(2) {
  animation-delay: 0.5s;
}
.bouncy-dots .dot:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-6px);
  }
}
.site-footer {
  padding: 50px 30px;
  background-color: #444546;
  color: var(--text-reverse-color);
  font-family: var(--emphasis-font);
}
.site-footer a {
  color: var(--text-reverse-color);
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer .footer-content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-footer .footer-content .copyright {
  color: var(--text-reverse-color);
}
.site-footer .footer-content .nav-wrapper {
  display: flex;
  align-items: center;
}
.site-footer .footer-content nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.site-footer .footer-content a:hover {
  color: white;
}
.site-footer .footer-content .nav-secondary li {
  margin: 0 20px;
}

.nav-social li, .social-icons li {
  margin: 0 20px;
}
.nav-social a::before, .social-icons a::before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 28px;
  filter: invert(0.8);
}
.nav-social a.instagram::before, .social-icons a.instagram::before {
  background: transparent url("instagram.svg") 0 0 no-repeat;
}
.nav-social a.facebook::before, .social-icons a.facebook::before {
  background: transparent url("facebook.svg") 0 0 no-repeat;
}
.nav-social a:hover::before, .social-icons a:hover::before {
  filter: invert(1);
}
.nav-social .visually-hidden, .social-icons .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}
.social-icons a::before {
  height: 50px;
  width: 50px;
  filter: none;
}
.social-icons a:hover::before {
  filter: brightness(400%);
}
.social-icons a.facebook::before {
  background: transparent url("facebook-yellow.svg") 0 0 no-repeat;
}
.social-icons a.instagram::before {
  background: transparent url("instagram-yellow.svg") 0 0 no-repeat;
}

/*# sourceMappingURL=style.css.map */
